<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DammitBot" type="DammitBot.Configuration.BotConfigurationSection, DammitBot.Core" />
    <section name="Irc" type="DammitBot.Configuration.IrcConfigurationSection, DammitBot.Plugins.Protocols.Irc" />
    <section name="TeamCity" type="DammitBot.Configuration.TeamCityConfigurationSection, DammitBot.Plugins.TeamCity" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MAIN" connectionString="connection string" />
  </connectionStrings>
  <DammitBot goesBy="(?:dammit )?bot" />
  <Irc server="server" nick="nick" user="user" channels="#channelA,#channelB" />
  <TeamCity host="host:8111" login="login" password="password" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>