{
    "DammitBot": {
        "goesBy": "(?:dammit )?bot"
    },

    "Dapper": {
        "connection": "..\\..\\db\\dev.db"
    },

    "Irc": {
        "server": "irc-server",
        "nick": "DammitBot",
        "user": "DammitBot",
        "channels": "#DammitBot"
    }
}