{
    "DammitBot": {
        "goesBy": "(?:dammit )?bot"
    },

    "Data": {
        "connectionString": "..\\..\\..\\..\\..\\db\\dev.db"
    },

    "Irc": {
        "server": "",
        "nick": "",
        "user": "",
        "channels": [""]
    }

    "Slack": {
        "appLevelToken": "",
        "apiToken": ""
    },

    "Logging": {
        "LogLevel": {
            "Default": "Information"
        }
    }
}